.Card-conteudo{
    color: black;
}
.Card-image{
    margin-bottom: 15%;
}
.Card-opcoes{
    width: 200px;
    border-style: solid;
    border-color: #d6d6d6;
    box-shadow: 1px 1px #f7f7f7;
    border-radius: 5%;
    text-align: center;
    display: block;
    border-width: 1px;
    background-color: white;
}

.Card-opcoes:hover{
    border-color: white;
    box-shadow: 2px 2px #c4c3c3;
    transition: 0.4s;
}