.Card-conteudo{
    color: black;
}
.Card-image{
    margin-bottom: 15%;
}
.Card-opcoes{
    width: 200px;
    border-style: solid;
    border-color: #737373;
    border-radius: 5%;
    text-align: center;
    display: block;
    border-width: 2px;
    background-color: white;
}

.Card-opcoes:hover{
    border-color: #2c2a2a;
    transition: 0.4s;
}