.Menu-users{
    background-color: #cfcfcf;
}
.Menu-users-logo{
    -webkit-text-stroke: 0.5px black;
   
}


.Login-texto p{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 13px;
    color: black;
}

.Login-texto button{
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    background-color: #cfcfcf;
}
.Login-texto a{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
