/*.App {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 2% 2% 0% 2%;
}
.Table-pessoas {
  border: 2px solid #a5b6ee;
}
.Tr-pessoas {
  background-color: #ced4eb;
  cursor: pointer;
}
.Tr-pessoas:nth-child(even) {
  background-color: white;
}
.Tr-pessoas:hover {
  background-color: #e3e6f1;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #6e8bea;
  color: #6e8bea;
  cursor: pointer;
  text-decoration: none;
}
.paginationBttns a:hover {
  color: white;
  background-color: #6e8bea;
}

.paginationActive a {
  color: white;
  background-color: #6e8bea;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  width: 100%;
  max-width: 576px;
  background: white;
  color: black;
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;
}
.react-modal-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: 0;
  background: transparent;
}

.Informacoes-pessoas {
  text-align: center;
  font-size: x-large;
}
*/