.Container-card-usuario{
    width: 250px;
    height: 250px;
    border-style: solid;
    border-color: #d6d6d6;
    box-shadow: 1px 1px #f7f7f7;
    border-radius: 5%;
    border-width: 1px;
    text-align: center;
    font-size: larger;
    padding: 2%;
    padding-top: 10%;
    position: relative;
    cursor: pointer;
    background-color: white;
}
.Container-card-usuario:hover{
    border-color: white;
    box-shadow: 2px 2px #c4c3c3;
    transition: 0.4s;
}
