.Container-card-usuario{
    width: 250px;
    height: 250px;
    border-style: solid;
    border-color: #737373;
    border-radius: 5%;
    border-width: 2px;
    text-align: center;
    font-size: larger;
    padding: 2%;
    padding-top: 10%;
    position: relative;
    cursor: pointer;
}
.Container-card-usuario:hover{
    transition: 0.2s;
    border-color: #2c2a2a;
   
}
